# Managed by Ansible — r730xd-snapraid
[Unit]
Description=SnapRAID Sync
After=local-fs.target
{% for drive in snapraid_parity_mounts + snapraid_data_mounts %}
RequiresMountsFor={{ drive.path }}
{% endfor %}

[Service]
Type=oneshot
ExecStart={{ snapraid_sync_wrapper_path }}
Nice=19
IOSchedulingClass=idle
OOMScoreAdjust=-200
