# Managed by Ansible — r730xd-prometheus role
# External Secrets Operator metrics exposed via NodePort
- targets:
    - "{{ hostvars[groups['k8s_control_plane'][0]]['ansible_host'] }}:30894"
  labels:
    env: "grizzly-platform"
    instance: "external-secrets-controller"
    component: "external-secrets"
